body {
  font-family: 'Orbitron-Bold, Orbitron';
  text-align: center;
}

h1, h3, h4, h5, h6 {
  font-family: 'Passion One';
}

.img-container {
  float: left;
  width: 50%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.subsection {
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
  width : 500px;
}

.mainsection {
  color: black;
  text-align: left;
  font-size: 25px;
  font-family: "Arial";
  font-weight: bold;
}

.blogimage {
  align-items: baseline;
  width: 900px;
  padding-bottom: 30px;
}

video {
  width: 900px;
}

.whowearetext {
  font-size: 91px;
  width: 582px;
  height: 95px;
  text-align: left;
  position: relative;
  left: -95px;

}

.blogstext {
  font-size: 91px;
}

.contact-us {
  font-size: 91px;
  color: black;
  text-align: left;
  width: 582px;
  height: 95px;
  position: relative;
  left: -95px;
}

.contact-details {
  font-family: Helvetica, Sans-Serif;
  font-size: 20px;
  color: black;
  text-align: left;
  font-weight: bold;
  position: relative;
  left: -95px;
}

.capabilities {
  font-family: 'Passion One';
  font-size: 91px;
  letter-spacing: 0;
}

.forEnquiries {
  font-family: 'Passion One';
  font-size: 43px;
  letter-spacing: 0;
}

.enquirymsg {
  font-family: 'Arial';
  font-size: 14px;
  color: white;
}

.form-label {
  font-family: 'Arial';
  font-size: 10px;
  font-weight: bold;
}

.btntext {
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: white;
  border-radius: 0;
  background-color: black;
}

p {
  color: #8f8f8f;
}

.who-we-are {
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position : relative;
  left: -95px;

}

.specific-description {
  width: 900px;
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

iframe{
border:0;
  position: relative;
  left: -95px;
}
.product-description{
  width: 800px;
  color: black;
  text-align: left;
  font-size: 20px;
  font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.big-heading {
  font-family: 'Passion One';
  /* font-weight: 900; */
  font-size: 74px;
  text-align: left;
  letter-spacing: 0;
  margin-top: 112px;
  position: relative;
  left: -95px;
  width: 729px;
  height: 625px;
}

.blogentry {
  background-color: #f4f4f4;
  text-align: left;
  color: black;
  font-family: 'Arial';
  font-size: 14px;
}

.card {
  text-align: left;
  color: black;
  font-family: 'Arial';
  font-size: 14px;
}

.blogtitle {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 20px;
}

.special-heading {
  font-family: 'Passion One';
  /* font-weight: 900; */
  font-size: 55px;
  text-align: left;
  letter-spacing: 0;
  position: relative;
  left: -95;
  z-index: 1;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

.container-fluid2 {
  padding: 0 15% 0 15%;
}

.container-fluid3 {
  padding: 5% 15% 3% 15%;
  text-align: left;
}

.container-fluid5 {
  padding: 3% 15% 0 15%;
  text-align: left;
}

/*sections  */
.coloured-section {
  background-color: #715AEF;
  color: #fff;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.special-section {
  background-color: #715AEF;
  color: #fff;
  top: 0;
  left: 0;
  width: 1920px;
  height: 320px;
}

.blog-section {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 1920px;
  position: relative;
  text-align: left;
  z-index: 6
}

.navbar-toggler {
  position: relative;
  z-index: 2;
}

.grey-section {
  background-color: #f4f4f4;
  color: black;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.white-section {
  background-color: #fff;
  width: 1920px;
  height: 1080px;
}

.details-section {
  background-color: #fff;
  top: 0;
  left: -95px;
  width: 2020px;
  height: 1080px;
  padding-top: 92px;
  position: relative;
  text-align: left;
  z-index: 2;
}

.black-section {
  background-color: black;
  top: 4393px;
  left: 0;
  width: 1920px;
  height: 285px;
}

/*Title  */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
  padding-bottom: 10%;
}

/*navigation bar  */
.moveleft {
  text-align: left;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  letter-spacing: -1px;
  text-align: left;
  width: 170px;
  height: 51px;
}

.row {
  margin-left: 80px;
  margin-right: -50px;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-size: 20px;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  position: absolute;
  right: -36%;
  top: -30%;
  z-index: 1;
}

.product-banner-image {
  position: absolute;
  right: -18%;
  top: -350px;
  z-index: 0;
}

.box {
  position: relative;
  display: inline-block;
  /* Make the width of box same as image */
  right: 50%;
  width: 629px;
  height: 606px;
}

.box .text {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 30%;
  /* Adjust this value to move the positioned div up and down */
  width: 60%;
  /* Set the width of the positioned div */
}

.properties {
  font-family: 'Passion One', cursive;
  font-size: 38px;
  color: #4A67CE;
  font-weight: 400;
  /* top : 20%;
  right: -18%;
  position: relative; */
}

.property_description {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0px;
  font-size: 20px;
  padding-bottom: 40px;
  /* top : 40%;
  right: -18%;
  position: relative; */
}

.readmore {
  /* top : 50%;
  right: -18%; */
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0px;
  font-size: 15px;
  /* position: relative; */
}

.icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

#features {
  position: relative;
}

/*Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-col {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  .title-image {
    position: static;
  }

  #title {
    text-align: center;
  }
}

.navbar-custom .nav-link:hover {
  color: black;
}

.navbar-custom .navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.bluelabel {
  color: #4a67ce;
}

/*cta*/
.bluelabel.navbar-brand:hover {
  color: #4a67ce;
}

#cta {
  padding-bottom: 20px;
}

.footericons {
  margin: 20px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  font-family: 'Roboto', sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* caseStudies */
.modal-content{
  width : 700px;
  font-size: 15px;
}

.modal-title{
  font-size: 20px;
}
